.tf__graph {
  margin-top: 69px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
  box-sizing: border-box;

  @media screen and (max-width: 599px) {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    width: 90%;
    margin: 10px;
  }
}

.tf__graph__text {
  width: 90%;
  margin: 30px auto 0;
  text-align: center;

  @media screen and (min-width: 600px) {
    display: none;
  }
}

.tf__graph__scroll {
  width: 100%;
  display: flex;
  overflow-x: hidden;

  @media screen and (max-width: 1024px) {
    overflow-x: scroll;
  }
}

.tf__graph__arrowRight {
  position: absolute;
  right: 150px;
  top: 45%;
  cursor: pointer;

  @media screen and (max-width: 1024px) {
    right: 10px;
  }
}

.tf__graph__arrowLeft {
  position: absolute;
  left: 150px;
  top: 45%;
  cursor: pointer;

  @media screen and (max-width: 1024px) {
    left: 10px;
  }
}

.tf__graph-title {
  margin-top: 75px;

  @media screen and (max-width: 1024px) {
    margin-top: 45px;
    width: 90vw;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
