.tf__footer__container {
  display: flex;
  padding-top: 151px;
  padding-bottom: 30px;
  width: 1024px;

  a {
    color: #ffffff;
    text-decoration: none;
  }

  @media screen and (max-width: 1024px) {
    margin: auto;
    width: 90%;
    padding-top: 60px;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;

    > div {
      margin-bottom: 10px;
    }
  }
}
