.tf__button__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 18px 12px 18px;
  border-radius: 30px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: white;
  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    background-color: #f2f2f2;
  }
}
