.tf__network-card__content {
  position: relative;
  width: 486px;
  height: 206px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  margin: 50px 22px 0 22px;

  .tf__network-card__mask-layer {
    position: absolute;
    width: 486px;
    height: 206px;
    border-radius: 16px;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }

  .tf__network-card__icon {
    position: absolute;
    background-color: #fff;
    border: 6px solid #fff;
    border-radius: 50%;
    top: -30px;
    right: 32px;
    width: 48px;
    height: 48px;
  }

  > .tf__typography-desktop,
  > .tf__typography-mobile {
    position: relative;
    margin: 0 32px;
    z-index: 10;
  }

  .tf__network-card__protocol-icons {
    display: flex;
    position: absolute;
    left: 32px;
    bottom: 33px;
    z-index: 10;

    .tf__protocols__icon-container {
      width: 33px;

      .tf__protocols__icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  .tf__network-card__action-button-container {
    position: absolute;
    right: 32px;
    bottom: 32px;

    .tf__button__container {
      width: 129px;
      height: 42px;
      margin: auto;
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &.ethereum-network {
    background: linear-gradient(97.53deg, #5098a9 0%, #285a95 100%);

    .tf__network-card__mask-layer {
      &::before {
        content: ' ';
        position: absolute;
        width: 275px;
        height: 206px;
        right: 0;
        border-radius: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='275' height='206' viewBox='0 0 275 206' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' fill-rule='evenodd' clip-rule='evenodd' d='M0.0625 206H259.001C267.838 206 275.001 198.837 275.001 190V16C275.001 7.16344 267.838 0 259.001 0H162.684C82.3606 41.4059 22.0445 116.181 0.0625 206Z' fill='url(%23paint0_linear_197_8593)'/%3E%3Cpath opacity='0.2' fill-rule='evenodd' clip-rule='evenodd' d='M80.0625 206H259.001C267.838 206 275.001 198.837 275.001 190V16C275.001 7.16344 267.838 0 259.001 0H242.684C162.361 41.4059 102.045 116.181 80.0625 206Z' fill='url(%23paint1_linear_197_8593)'/%3E%3Cpath opacity='0.2' fill-rule='evenodd' clip-rule='evenodd' d='M176.062 206H259.001C267.838 206 275.001 198.837 275.001 190V43.3767C226.945 85.489 191.746 141.916 176.062 206Z' fill='url(%23paint2_linear_197_8593)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_197_8593' x1='240.027' y1='38.3825' x2='85.5126' y2='211.899' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='%2300A3FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_197_8593' x1='250.204' y1='38.3825' x2='98.6022' y2='159.091' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='%2300A3FF'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_197_8593' x1='262.416' y1='73.6771' x2='162.797' y2='124.672' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'/%3E%3Cstop offset='1' stop-color='%2300A3FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
      }

      &::after {
        content: ' ';
        position: absolute;
        width: 309px;
        height: 206px;
        right: 0;
        border-radius: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='309' height='208' viewBox='0 0 309 208' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_197_8398)'%3E%3Cpath d='M243.662 103.628C303.484 81.9819 312.547 21.6302 343.477 55.2044C374.407 88.7786 350.985 133.543 291.162 155.189C231.34 176.835 157.77 167.165 126.84 133.591C95.9107 100.016 183.839 125.273 243.662 103.628Z' fill='%236FCDF5'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_197_8398' x='0.433594' y='-74.7493' width='476.691' height='361.486' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='60' result='effect1_foregroundBlur_197_8398'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }

  &.fantom-network {
    background: radial-gradient(34.45% 56.55% at 84.54% 17.33%, rgba(0, 194, 255, 0.2) 0%, rgba(0, 87, 255, 0.126) 100%),
      linear-gradient(117.67deg, #222222 6.84%, #0bb6ac 84.65%);

    .tf__network-card__mask-layer {
      &::before {
        content: ' ';
        position: absolute;
        width: 275px;
        height: 206px;
        right: 0;
        border-radius: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='275' height='206' viewBox='0 0 275 206' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.6' fill-rule='evenodd' clip-rule='evenodd' d='M0.0625 206H259.001C267.838 206 275.001 198.837 275.001 190V16C275.001 7.16344 267.838 0 259.001 0H162.684C82.3606 41.4059 22.0445 116.181 0.0625 206Z' fill='url(%23paint0_linear_197_8594)'/%3E%3Cpath opacity='0.6' fill-rule='evenodd' clip-rule='evenodd' d='M80.0625 206H259.001C267.838 206 275.001 198.837 275.001 190V16C275.001 7.16344 267.838 0 259.001 0H242.684C162.361 41.4059 102.045 116.181 80.0625 206Z' fill='url(%23paint1_linear_197_8594)'/%3E%3Cpath opacity='0.6' fill-rule='evenodd' clip-rule='evenodd' d='M176.062 206H259.001C267.838 206 275.001 198.837 275.001 190V43.3767C226.945 85.489 191.746 141.916 176.062 206Z' fill='url(%23paint2_linear_197_8594)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_197_8594' x1='137.532' y1='0' x2='137.532' y2='206' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230FC2FF'/%3E%3Cstop offset='1' stop-opacity='0.58'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_197_8594' x1='177.532' y1='0' x2='177.532' y2='206' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230FC2FF'/%3E%3Cstop offset='1' stop-opacity='0.58'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_197_8594' x1='225.532' y1='43.3767' x2='225.532' y2='206' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230FC2FF'/%3E%3Cstop offset='1' stop-opacity='0.58'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
      }

      &::after {
        content: ' ';
        position: absolute;
        width: 258px;
        height: 206px;
        border-radius: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='258' height='209' viewBox='0 0 258 209' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_f_197_8567)'%3E%3Cpath d='M41.212 140.544C91.507 179.501 147.342 154.866 135.527 198.96C123.712 243.054 73.3623 247.218 23.0672 208.261C-27.2278 169.303 -58.4221 101.977 -46.6071 57.8826C-34.7922 13.7886 -9.08307 101.586 41.212 140.544Z' fill='%236FCDF5'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_f_197_8567' x='-169.105' y='-74.2087' width='426.234' height='429.168' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur stdDeviation='60' result='effect1_foregroundBlur_197_8567'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
    margin: 50px 0 0 0;
  }
}
