.tf__get-involved-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  @media screen and (max-width: 1024px) {
    text-align: center !important;
  }
}

.tf__get-involved-card__action-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 1024px) {
    justify-content: center;
  }
}
