.tf__protocols__container {
  padding-top: 86px;
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1024px) {
    width: 90%;
    padding-top: 129px;
  }
}

.tf__protocols__networks {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
  }
}

.tf__protocols__button-text {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  color: #293437;
}
