#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.tf__app__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.tf__app__sections-gradient-wrapper {
  background: radial-gradient(34.45% 56.55% at 84.54% 17.33%, rgba(0, 194, 255, 0.3) 0%, rgba(0, 87, 255, 0.189) 100%),
    linear-gradient(116.06deg, #4b4b4b 7.43%, #0bb694 101.55%);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.tf__app__sections-footer-logo {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -120px;
  pointer-events: none;
}
