.tf__team-page__profile {
  position: relative;
  width: 318px;
  height: 484px;
  margin: 0 16px 80px 16px;

  .tf__team-page__profile-pic {
    border-radius: 50%;
    width: 176px;
    height: 176px;
    overflow: hidden;

    img {
      position: relative;
      width: 176px;
      height: 176px;
      z-index: 1;
    }
  }

  .tf__team-page__profile-social {
    position: relative;
    height: 24px;
    z-index: 1;

    button {
      border: none;
      background: none;
      cursor: pointer;
      margin: 0 8px 0 0;
      padding: 0;
    }

    @media screen and (max-width: 1024px) {
      height: initial;
    }
  }

  .tf__typography-desktop,
  .tf__typography-mobile {
    position: relative;
    z-index: 1;
  }

  &:nth-of-type(18n + 3),
  &:nth-of-type(18n + 5),
  &:nth-of-type(18n + 7) {
    .tf__team-page__profile-pic::before {
      content: ' ';
      position: absolute;
      width: 2000px;
      height: 254px;
      border-radius: 450px;
      opacity: 0.1;
      background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      transform-origin: 1873px 127px;
      transform: translate(-1775px, -39px) rotate(30deg);
      transition: transform 2s;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }

  &:nth-of-type(18n),
  &:nth-of-type(18n + 2),
  &:nth-of-type(18n + 4) {
    .tf__team-page__profile-pic::before {
      content: ' ';
      position: absolute;
      width: 2000px;
      height: 254px;
      border-radius: 450px;
      opacity: 0.1;
      background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      transform-origin: 1873px 127px;
      transform: translate(-1775px, -39px) rotate(30deg) translateX(-2000px);
      transition: transform 2s;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }

  &:nth-of-type(18n + 9),
  &:nth-of-type(18n + 11),
  &:nth-of-type(18n + 13) {
    .tf__team-page__profile-pic::before {
      content: ' ';
      position: absolute;
      width: 2000px;
      height: 254px;
      border-radius: 450px;
      opacity: 0.1;
      background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      transform-origin: 127px 127px;
      transform: translate(-39px, -39px) rotate(30deg);
      transition: transform 2s;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }

  &:nth-of-type(18n + 6),
  &:nth-of-type(18n + 8),
  &:nth-of-type(18n + 10) {
    .tf__team-page__profile-pic::before {
      content: ' ';
      position: absolute;
      width: 2000px;
      height: 254px;
      border-radius: 450px;
      opacity: 0.1;
      background-image: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
      transform-origin: 127px 127px;
      transform: translate(-39px, -39px) rotate(30deg) translateX(2000px);
      transition: transform 2s;

      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    height: initial;
    margin: 0 16px 60px 16px;
  }
}

.scrolled-down {
  .tf__team-page__profile {
    &:nth-of-type(18n + 3),
    &:nth-of-type(18n + 5),
    &:nth-of-type(18n + 7) {
      .tf__team-page__profile-pic::before {
        transform: translate(-1775px, -39px) rotate(30deg) translateX(-2000px);
      }
    }

    &:nth-of-type(18n),
    &:nth-of-type(18n + 2),
    &:nth-of-type(18n + 4) {
      .tf__team-page__profile-pic::before {
        transform: translate(-1775px, -39px) rotate(30deg);
      }
    }

    &:nth-of-type(18n + 9),
    &:nth-of-type(18n + 11),
    &:nth-of-type(18n + 13) {
      .tf__team-page__profile-pic::before {
        transform: translate(-39px, -39px) rotate(30deg) translateX(2000px);
      }
    }

    &:nth-of-type(18n + 6),
    &:nth-of-type(18n + 8),
    &:nth-of-type(18n + 10) {
      .tf__team-page__profile-pic::before {
        transform: translate(-39px, -39px) rotate(30deg);
      }
    }
  }
}
