.tf__stats__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-top: 187px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    padding-top: 0px;
  }
}
