.tf__navbar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 100;

  @media screen and (max-width: 1024px) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.tf__navbar__container-scrolled {
  background-color: #ffffff;

  .tf__navbar-actions-desktop {
    .tf__button__container {
      background-color: #288195;
    }
  }
}

.tf__navbar__content {
  width: 1024px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    box-sizing: border-box;
    margin: 0 20px;
  }
}

.tf__navbar-item {
  text-decoration: none;
}

.tf__navbar-dropdown-label {
  cursor: pointer;
  position: relative;
}

.tf__navbar-dropdown {
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  transform: translateY(calc(100% + 20px));
  width: 235px;
  background-color: #fcfcfc;
  border: 1px solid #f1f1f1;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  z-index: 999;
}

.tf__navbar-dropdown-item {
  display: flex;
  align-items: center;
  height: 54px;
  padding-left: 20px;
  text-decoration: none;

  &:hover {
    background-color: #f2f2f2;
  }

  &.tf__navbar-dropdown-highlight {
    background-color: #f3f7f9;
  }

  &.tf__navbar-dropdown__subtitle {
    height: 33px;
  }

  &.tf__navbar-dropdown-item-active {
    font-weight: bold;
  }
}

.tf__navbar-actions-desktop {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.tf__navbar-actions-mobile {
  display: none;

  @media screen and (max-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 36px;
    box-sizing: border-box;
  }
}

.tf__navbar-menu-mobile {
  position: fixed;
  top: 90px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  background-color: #fcfcfc;

  > .tf__navbar-dropdown-item {
    border-top: 1px solid #e2e2e2;
    display: flex;
    align-items: center;
  }
}
