.tf__governanceSection {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 67px;
}

.tf__governanceSection-content {
  width: 1024px;
}

.tf__governanceSection-background-title {
  position: absolute;
}
