.tf__tokenStatsSection {
  height: 182px;
  width: 100%;
  background: radial-gradient(54.78% 68.9% at 84.54% 17.33%, rgba(0, 194, 255, 0.3) 0%, rgba(0, 87, 255, 0.189) 100%),
    linear-gradient(116.06deg, #4b4b4b 7.43%, #00060b 101.55%);
  z-index: 1;
  display: flex;
  justify-content: center;
}

.tf__tokenStatsSection-content {
  width: 1024px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tf__tokenStatsSection-stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
