.tf__expandable__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tf__expandable__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
