.tf__tokenomicsSection {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 102px;
}

.tf__tokenomicsSection-content {
  width: 1024px;
}

.tf__tokenomicsSection-background-title {
  position: absolute;
}

.tf__tokenomicsSection-cards {
  display: flex;
  justify-content: space-between;
}
