.tf__chartLabel-line {
  height: 1px;
  position: absolute;
  background-color: white;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.tf__chartLabel-label {
  position: absolute;
  right: 0px;
  top: -28px;
}

.tf__chartLabel-percentage {
  position: absolute;
  right: 0px;
  top: 0px;
}
