body {
  margin: 0px;
  background-color: #fcfcfc;
  font-family: 'Manrope', sans-serif;
}

a {
  color: #ffae74;
}

.tf__flex-row-center-v {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tf__flex-row-center-h {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tf__flex-row-space-between-h {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tf__flex-column-center-h {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tf__backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 998;
  cursor: default !important;

  @media screen and (max-width: 1024px) {
    background-color: rgba(0, 0, 0, 0.8);
    top: 90px;
  }
}

.tf__desktop-only {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.tf__mobile-only {
  display: none;

  @media screen and (max-width: 1024px) {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
