
@font-face {
    font-family: "Aeonik";
    src: url("../public/fonts/Aeonik-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Aeonik";
    src: url("../public/fonts/Aeonik-Medium.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

