html, body {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55em;
  font-family: 'Roboto', sans-serif;
}

h1, .f-h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 55px;
  line-height: 0.95em;
  font-weight: 500;
  letter-spacing: -1px;
  padding: 0;
  margin: 0;

  @media all and #{$lg}{
    font-size: 100px;
    line-height: 0.97em;
    letter-spacing: -0.91px;
  }
}

h2, .f-h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  line-height: 1.066em;
  font-weight: 500;
  letter-spacing: -0.87px;
  padding: 0;
  margin: 0;

  @media all and #{$lg}{
    font-size: 60px;
    line-height: 1.066em;
    letter-spacing: -0.73px;
  }
}

h3, .f-h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 1.23em;
  font-weight: 500;
  letter-spacing: -0.55px;
  padding: 0;
  margin: 0;

  @media all and #{$lg}{
    font-size: 40px;
    line-height: 1.175em;
    letter-spacing: -0.91px;
  }
}

h4, .f-h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  line-height: 1.0769em;
  font-weight: 500;
  padding: 0;
  margin: 0;

  @media all and #{$lg}{
    font-size: 26px;
    line-height: 1.0769em;
  }
}
