@import './vars';
@import './typography';

html,
body {
  padding: 0;
  margin: 0;
  background: #066d59;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}


