.tf__tokenAuction-container {
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tf__tokenAuction-background {
  height: 1400px;
  width: 100%;
  background: radial-gradient(34.45% 56.55% at 84.54% 17.33%, rgba(0, 194, 255, 0.3) 0%, rgba(0, 87, 255, 0.189) 100%),
    linear-gradient(116.06deg, #4b4b4b 7.43%, #0bb694 101.55%);
  position: absolute;
  z-index: -1;
}

.tf__tokenAuction-title {
  padding-top: 126px;
  overflow-y: hidden;
}

.tf__tokenAuction-chart-section {
  width: 100%;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 73px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1024px) {
    background: transparent;
    box-shadow: none;
  }
}

.tf__tokenAuction-chart {
  width: 1024px;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.tf__tokenAuction-chart-tooltip {
  background: linear-gradient(0deg, #ffffff -0.55%, #f3f7f9 100%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tf__tokenAuction-chart-actions {
  display: flex;
  flex-direction: row;
  width: 1024px;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    width: 90%;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.tf__tokenAuction-chart-button-text {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}

.tf__tokenAuction-button {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;

  @media screen and (max-width: 1024px) {
    width: 280px;
    box-sizing: border-box;
  }
}

.tf__tokenAuction-link-actions {
  display: flex;

  @media screen and (max-width: 1024px) {
    width: 100%;
    flex-direction: column;
    align-items: center;

    div:first-child {
      margin-bottom: 20px;
    }

    div:nth-child(3) {
      margin-bottom: 20px;
    }
  }
}

.tf__tokenAuction-cards-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 32px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    align-items: center;

    div:nth-child(1) {
      margin-bottom: 20px;
    }

    div:nth-child(3) {
      margin-bottom: 20px;
    }

    div:nth-child(5) {
      margin-bottom: 20px;
    }
  }
}

.tf__tokenAuction-card {
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 242px;
  height: 123px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tf__tokenAuction-card-title {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 22px;
  color: #7a7a7a;
}

.tf__tokenAuction-card-data {
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 22px;
  color: #222222;
}

.tf__leaderboard-section {
  margin-top: 125px;
  background: #fcfcfc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 75px;
}

.tf__leaderboard {
  background: transparent;
  border-radius: 5px;
  width: 1024px;
  padding-top: 34px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

.tf__leaderboard-row {
  display: flex;
  flex-direction: row;
  width: 984px;
  padding-left: 25px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #222222;

  @media screen and (max-width: 1024px) {
    width: 90%;
  }
}

.tf__leaderboard-row-card-main {
  flex: 63px 25px;
  background: radial-gradient(35.04% 86.51% at 99.12% 0%, rgba(0, 194, 255, 0.3) 0%, rgba(0, 87, 255, 0.189) 100%),
    linear-gradient(116.06deg, #009bf2 7.43%, #fa05ff 101.55%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.tf__leaderboard-row-card-secondary {
  flex: 63px 25px;
  background: radial-gradient(34.45% 56.55% at 84.54% 17.33%, rgba(0, 194, 255, 0.3) 0%, rgba(0, 87, 255, 0.189) 100%),
    linear-gradient(116.06deg, #4b4b4b 7.43%, #0bb694 101.55%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.tf__leaderboard-row-card-default {
  flex: 63px 25px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.tf__leaderboard-column-rank {
  flex: 25;

  @media screen and (max-width: 1024px) {
    flex: 30;
  }
}

.tf__leaderboard-column-address {
  flex: 25;
  display: flex;

  svg {
    margin-left: 10px;
  }

  @media screen and (max-width: 1024px) {
    flex: 70;
  }
}

.tf__leaderboard-column-contributed {
  flex: 25;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.tf__leaderboard-column-value {
  flex: 25;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.tf__tokenAuction-tabs {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tf__tokenAuction-tabs-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  align-self: flex-start;
  background-color: #f1f1f1;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  box-sizing: border-box;
  height: 40px;
  justify-items: center;
  align-items: center;
  width: 500px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 12px;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    overflow-x: hidden;
    width: 95%;
    max-width: 500px;
  }
}
