.tf__banner {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  width: 1024px;
  height: 116px;
  background: linear-gradient(90.74deg, #1a39da 0%, #41adff 99.65%);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(40px);
  border-radius: 0px 0px 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (max-width: 1024px) {
    width: 90%;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 20px;
    padding: 30px 0px 15px 0px;
    height: auto;

    img {
      width: 40px;
      height: 40px;
    }
  }
}

.tf__banner__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
}

.tf__banner-spacer {
  @media screen and (max-width: 1024px) {
    height: 25px;
  }
}

.tf__banner-timer-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 45px;

  @media screen and (max-width: 1024px) {
    width: auto;
  }
}

.tf__banner-timer-cell-separator {
  width: 30px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: flex-end;

  @media screen and (max-width: 1024px) {
    width: 22px;
  }
}

.tf__banner-separator-text {
  line-height: 44px;
  font-size: 18px;
  color: white;
}

.tf__banner-button {
  width: 130px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a3ada;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  cursor: pointer;

  @media screen and (max-width: 1024px) {
    width: 273px;
  }
}

.tf__banner-title-text {
  font-family: Manrope;
  font-size: 30px;
  line-height: 110%;
  color: #ffffff;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 12px;
}

.tf__banner-subheading-text {
  font-family: Manrope;
  font-weight: bold;
  font-size: 22px;
  line-height: 110%;
  color: #ffffff;
  margin: 0px;
}

.tf__banner-live-text {
  font-family: Manrope;
  font-weight: bold;
  font-size: 22px;
  line-height: 110%;
  color: #ffffff;

  @media screen and (max-width: 1024px) {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 17px;
    margin-top: 22px;
  }
}

.tf__banner-background {
  width: 750px;
  height: 500px;
  border-radius: 250px;
  position: absolute;
  background: #325dc1;
  left: 0px;
  bottom: -275px;
  z-index: -1;
  left: -250px;

  @media screen and (max-width: 1024px) {
    width: 125%;
    border-radius: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: -380px;
  }
}

.tf__banner-live-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
